<div class="h-screen relative">
    <div class="p-5 pb-0 text-gray-600 border-b-4 border-t-0 border-y-4 mx-2 ">
        <div class="w-1/2 translate-y-1">
            <div class="flex justify-between ">
                <div class="flex items-center pb-1 border-b-4 border-orange-400">
                    <i class='fas fa-car mr-1'></i>
                    <div>
                        Units
                    </div>
                   
                
                </div>
                <div class="flex items-center pb-1 ">
                    <i class='far fa-bookmark mr-1'></i>
                    <div>
                        Unit Tags
                    </div>
                   
                
                </div>
                <div class="flex items-center pb-1">
                    <i class='fas fa-camera mr-1'></i>
                    <div>
                        Camera Managment
                    </div>
                   
                
                </div>
            </div>
            
    </div>
    
    </div>
    
    <div class="mt-10 flex items-center justify-between">
    
        <div class="shadow-lg border border-gray-200 w-80 text-gray-400 p-2 ml-2 rounded flex items-center justify-between">
            <div class="flex items-center">
                <i class='fas fa-search mr-2 '></i>
                <input type="text" class="outline-none w-full" placeholder="search">
            </div>
            <div >
                <i class='fa fa-gear mr-2 '></i>
            </div>
        </div>
    
        <div class="flex  p-0">
            <div class="px-5 py-1 bg-orange-500 rounded text-white cursor-pointer text-sm font-light mr-2">
                <i class='fas fa-plus mr-2 '></i>
                Add
            </div>
            <div class="cursor-pointer">
                
                    <i class='fas fa-store mr-2 border-2 p-1 rounded text-gray-400 border-gray-300'></i>
                
            </div>
        </div>
    
    </div>
    
    <div class="mx-2 mt-20">
       
    
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-center  text-gray-500 dark:text-gray-400">
            <thead class=" text-gray-500  bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        <input type="checkbox" class="accent-orange-600">
                        Unit Icon
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Unit Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Connected Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        IMEI
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tags
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last Time Point
                    </th>
                </tr>
            </thead>
            <tbody>
    
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 ">
                        <input type="checkbox" class="accent-orange-600">
                        Microsoft Surface Pro
                    </th>
                    <td class="px-6 py-4">
                        unit 02
                    </td>
                    <td class="px-6 py-4">
                        <span class="bg-green-100 p-1 rounded">
                            connected
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        546546465465465
                    </td>
                    <td class="px-6 py-4">
                        <span class="rounded-full text-red-400 bg-red-100 p-1 border border-red-400 text-xs">
                            test
                        </span>
                    </td>
                    <td class="px-6 py-4">
                        15 m ago
                    </td>
                </tr>
    
            </tbody>
        </table>
    </div>
    
    </div>

    <div class="absolute bottom-0 left-0 mb-2 ml-6 text-gray-600 flex items-center space-x-2">
        <div>
            page
        </div>
        <div class="">
            <input type="text" class="outline-none border border-gray-400 rounded w-10 text-center text-sm">
        </div>
        <div>
            of 2
        </div>
    </div>

</div>